<div class="row justify-content-md-center">
  <div class="col col-md-2"></div>
  <div class="col col-md-8">
    <h2>Patients</h2><!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add New Patient
    </button>
    <hr/>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index|%>
        <tr>
          <th scope="row"><%=index+1%></th>
          <td>
            <%= link_to(user) do %>
              <strong><%= user.name %></strong>
            <% end %>
          </td>
          <td><%=user.email%></td>
          <td><%=user.phone%></td>
          <td> <a href="javascript:void(0)" class="expand">&#10151;</a> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col col-md-2"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag('/users') do %>
      <div class="modal-body">
          <div class="form-group">
            <label for="name">Nmae</label>
            <input type="text" name="user[name]" class="form-control" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="user[email]" class="form-control" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="email">Phone</label>
            <input type="text" name="user[phone]" class="form-control" placeholder="Enter phone">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <% end %>
    </div>
  </div>
</div>